{%extends 'pages/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="row justify-content-center" style="padding-bottom: 2.5em">Add Income</h1>
<div class="form-group row justify-content-center">
    <form method="post" action="" class="row justify-content-center"> {%csrf_token%}
        <p class="row justify-content-center" style="font-weight:bold"> Amount: {{form.amount}}</p>
        <p class="row justify-content-center" style="font-weight:bold"> Date: {{form.date}}</p>
        <p class="row justify-content-center" style="font-weight:bold"> Description: {{form.description}}</p>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
{% endblock content %}